<!-- Encabezado !-->
<header class="baseBox">

  <!-- Titulo !-->
  <div class="title baseBox">
    <span class="icon icon-pacman"></span>
    <h1>OutBess</h1>
  </div>
  <!-- Opciones de navegacion !-->
  <div class="navBar baseBox">
    <!-- Cerrar sesion actual !-->
    <div class="sign_out baseBox">
      <span class="icon icon-user"></span>
      <% if user_signed_in? %>
        <%= link_to current_user.email, destroy_user_session_path, method: :delete  %>
      <% end %>
    </div>
    <!-- Navegacion !-->
    <div class="navigation">
      <%= link_to '', '/config', :class => 'icon-menu' %>
    </div>
  </div>
</header>
