<%= render 'header' %>
<div class="salePoint baseBox">
  <!-- Zona de interaccion con la orden !-->
  <%= render 'orderDisplay' %>
  <!-- Seguimiento de ordenes y moviemiento entre categorias !-->
  <%= render 'tracker' %>
  <!-- Mostramos el menu !-->
  <%= render 'menu' %>
</div>
