<%= render 'header' %>
<div class="salePoint">
  <!-- Zona de interaccion con la orden !-->
  <section class="sideBar">
    <div class="added">
      <%# TODO: Iterate the food of the orders here %>
      <%# TODO: Remove food,  %>
    </div>
    <div class="orderTools">
      <%# TODO: Select quantity, pay, see customer%>
    </div>
  </section>
  <%= render 'tracker' %>
  <%= render 'menu' %>
</div>
