// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/

/*
* En este archivo se lleva acabo todo el funcionamiento del punto de ventas, las variables generadas en el controlador son solo para no perder
* datos cundo se abandone la pagina y se vuelva a acceder a ella.
* En este archivo se encuentran los procesos logicos para el movimiento entre el menu, la creacion y destruccion de las ordenes, las opciones para
* agregar comida a las ordenes, editar cantidades, precios, descuentos de las comidas agregadas en la orden; y la opcion de pagar una orden.
*/

<% @menu = Menu.where(isDefault: true).first %>

$(window).ready(function(){

  moveThroughMenu();
  createOrder();
  deleteOrder();
  selectOrder();
  addToOrder();

});

// Logica para moverse por el menu //
function moveThroughMenu(){

  //Iteramos todos los menus que muestran
  <% @menu.categories.each do |category| %>
    //Al iterar todas las comidas creamos un boton para acceder a cada una
    $('#category_'+<%= "#{category.id}" %>).click(function(){

      $('.categories').fadeOut(50);
      $('#category_id_'+<%= "#{category.id}" %>).fadeIn();

      //Agregamos el nombre de la categoria a la que se ingreso en nuestro 'tracker'
      $('#branch').append('<li id="newBranch">'+'<%= "#{category.name}" %>'+'</li>')

      //Damos la opcion al usurio de volver atras al hacer click en cualquier categoria en el seguimiento del tracker
      $('#track').click(function(){
        $('.foods').fadeOut(50);
        $('.categories').fadeIn();
        $('#newBranch').remove();
      });

    });
  <% end %>

}

//Creacion de nuevas ordenes
function createOrder(){
  //Calculamos la orden actual
  currentOrder = $('.currentOrder .id').text();

  $('#add').click(function(){
    //Creamos una nueva orden en nuestra base de datos
    fastPost('/orders',{order: {payed: false, total: 0.0}}, function(){});

    //Actualizamos la vista de nuestras ordenes
    $('.time').remove();
    $('.currentOrder').removeClass('currentOrder');

    setTimeout(function(){
      //Actualizamos nuestra variable de ordenes
      fastGet('/orders', function(data, status){
        //Mostramos la nueva orden en pantalla y la marcamos como seleccionada
        last = data.length - 1;
        $('.orderSelection').append(
          '<div class="selectOrder baseBox currentOrder" id="order_'+data[last].id+'">'
            +'<p class="id">'+ data[last].id +'</p><p class="time">'+ data[last].created_at.slice(11, 16) +'</p>'
          +'</div>'
        );

      });//fastGet
    },50);//setTimeout

  });//click
}//createOrder

//Logica para eliminar ordenes
function deleteOrder(){
  $(document).on("click", '#delete', function(event){
    //Calculamos currentOrder
    currentOrder = $('.currentOrder .id').text();

    //Removemos la informacion de la orden actual que se esta mostrando
    $('.time').remove();
    $('.currentOrder').removeClass('currentOrder');
    $('#order_'+currentOrder).remove();

    //Eliminamos la orden que actualmente esta seleccionada
    fastDestroy('/orders', currentOrder, function(){});

    //Actualizamos nuestra variable de ordenes
    //Actualizamos la vista de la orden actual
    fastGet('/orders', function(data, status){
      $('#order_'+ data[0].id).addClass('currentOrder');
      $('.currentOrder').append('<p class="time">'+ data[0].created_at.slice(11, 16) +'</p>');
    });
    //Reecalculamos la id actual
    currentOrder = $('.currentOrder .id').text();
  });
}

//Logica para seleccionar orden
function selectOrder(){

  //Marcamos como seleccionado la orden clickeada
  $(document).on("click", '.selectOrder',function(event){
    clickedId = event.currentTarget.id;

    if (clickedId.slice(0,5) == 'order') {

      //removemos la clase seleccionada
      $('.time').remove();
      $('.currentOrder').removeClass('currentOrder');

      fastGet('/orders', function(data, status){

        data.forEach(function(item, index){
          if (item.id == clickedId.slice(6)) {
            $('#'+clickedId).append('<p class="time">'+ data[index].created_at.slice(11, 16) +'</p>');
            $('#'+clickedId).addClass('currentOrder');
          }//ifIdIsSameAsClicked
        });//eachFunction

      });//fastGet

    }//ifClickedId
  });//click function


  //Calculamos la orden actual
  currentOrder = $('.currentOrder .id').text();

}

//Logica para agregr comida a las ordenes
function addToOrder(){

  //Creamos un eventListener para cualquier tipo de comida
  $(document).on("click", '.food', function(event){
    //Informacion requerida del evento
    foodType = event.currentTarget.id.slice(0, event.currentTarget.id.indexOf("_"));
    foodId = event.currentTarget.id.slice(event.currentTarget.id.indexOf("_")+1);
    currentOrder = $('.currentOrder .id').text();
    foodUrl = '';
    if(foodType == 'dish'){
      foodUrl = '/dishes';
    }else if (foodType == 'drink') {
      foodUrl = '/drinks';
    }

    //Buscamos
    fastGet(foodUrl+'/'+foodId, function(data, status){
      fastGet('/foods', function(d, s){
        d.forEach(function(item, index){
          if (item.identifier == foodId) {

          } else if () {

          }
        });//forEach
        fastPost('/foods', {food: {identifier: foodId, name: data.name, quantity: 1, price: data.price, total: data.price*1, order_id: currentOrder}}, function(){});//fastPost
      });//fastGetFoods
    });//fastGet

  });

}

//Logica para remover comida de las ordenes
function removeFromOrder(){

}

/* * * * * * * * * * * * * * * * * * * * * *
*           Helping Methods                *
* * * * * * * * * * * * * * * * * * * * * */
function fastGet(url, customFunction){
  $.ajax({
    type: 'GET',
    url: url,
    dataType: 'json',
    success: customFunction
  });//AjaxGetMethod
}

function fastPost(url, json, customFunction){
  $.ajax({
    type: 'POST',
    url: url,
    dataType: 'json',
    data: $.param(json),
    success: customFunction
  });//AjaxPostMethod
}

function fastDestroy(url, jsonId, customFunction){
  $.ajax({
    type: 'POST',
    url: url+'/'+jsonId,
    dataType: 'json',
    data: {'_method':'delete'},
    success: customFunction
  });//AjaxDestroyMethod
}
