// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/

/*
* En este archivo se lleva acabo todo el funcionamiento del punto de ventas, las variables generadas en el controlador son solo para no perder
* datos cundo se abandone la pagina y se vuelva a acceder a ella.
* En este archivo se encuentran los procesos logicos para el movimiento entre el menu, la creacion y destruccion de las ordenes, las opciones para
* agregar comida a las ordenes, editar cantidades, precios, descuentos de las comidas agregadas en la orden; y la opcion de pagar una orden.
*/

<% @menu = Menu.where(isDefault: true).first %>

$.ajax({
  type: 'GET',
  url: 'orders',
  dataType: 'json',
  success: function(result, status){}
});

$(window).ready(function(){

  moveThroughMenu();
  createOrder();
  deleteOrder();
  selectOrder();

});

// Logica para moverse por el menu //
function moveThroughMenu(){

  //Iteramos todos los menus que muestran
  <% @menu.categories.each do |category| %>
    //Al iterar todas las comidas creamos un boton para acceder a cada una
    $('#category_'+<%= "#{category.id}" %>).click(function(){

      $('.categories').fadeOut(50);
      $('#category_id_'+<%= "#{category.id}" %>).fadeIn();

      //Agregamos el nombre de la categoria a la que se ingreso en nuestro 'tracker'
      $('#branch').append('<li id="newBranch">'+'<%= "#{category.name}" %>'+'</li>')

      //Damos la opcion al usurio de volver atras al hacer click en cualquier categoria en el seguimiento del tracker
      $('#track').click(function(){
        $('.food').fadeOut(50);
        $('.categories').fadeIn();
        $('#newBranch').remove();
      });

    });
  <% end %>

}

//Creacion de nuevas ordenes
function createOrder(){
  //Calculamos la orden actual
  currentOrder = $('.currentOrder .id').text();

  $('#add').click(function(){
    //Creamos una nueva orden en nuestra base de datos
    $.ajax({
      type: 'POST',
      url: 'orders',
      dataType: 'json',
      data: $.param({order: {payed: false, total: 0.0}})
    });

    //Actualizamos la vista de nuestras ordenes
    $('.time').remove()
    $('.currentOrder').removeClass('currentOrder');

    //Actualizamos nuestra variable de ordenes
    $.ajax({
      type: 'GET',
      url: 'orders',
      dataType: 'json',
      success: function(result, status){
        //Mostramos la nueva orden en pantalla y la marcamos como seleccionada
        last = result.length - 1;
        $('.orderSelection').append('<div class="selectOrder baseBox currentOrder '+ result[last].id +'" id="order_'+ result[last].id +'<p class="id">'+ result[last].id +'</p><p class="time">'+ String(result[last].id.created_at) +'</p></div>');
      }
    });

    //Reecalculamos la id actual
    currentOrder = $('.currentOrder .id').text();
  });
}

//Logica para eliminar ordenes
function deleteOrder(){
  $('#delete').click(function(event){
    //Calculamos currentOrder
    currentOrder = $('.currentOrder .id').text();

    //Removemos la informacion de la orden actual que se esta mostrando
    $('.time').remove();
    $('.currentOrder').removeClass('currentOrder')
    $('#order_'+currentOrder).remove();

    //Eliminamos la orden que actualmente esta seleccionada
    $.ajax({
      type: 'POST',
      url: 'orders/'+ currentOrder,
      dataType: 'json',
      data: {'_method':'delete'}
    });
    event.preventDefault();

    //Actualizamos nuestra variable de ordenes
    //Actualizamos la vista de la orden actual
    $.ajax({
      type: 'GET',
      url: 'orders',
      dataType: 'json',
      success: function(result, status){
        $('#order_'+ result[0].id).addClass('currentOrder');
        $('.currentOrder').append('<p class="time">'+ String(result[0].id.created_at) +'</p>')
      }
    });

    //Reecalculamos la id actual
    currentOrder = $('.currentOrder .id').text();
  });
}

//Logica para seleccionar orden
function selectOrder(){

  //Calculamos la orden actual
  currentOrder = $('.currentOrder .id').text();

  $.ajax({
    type: 'GET',
    url: 'orders',
    dataType: 'json',
    success: function(result, status){
      result.forEach(function(item, index){
        $('.order_'+item.id).click(function(){
          $('#order_'+currentOrder).removeClass('.currentOrder')
          $('.time').remove()
          $('#order_'+item.id).addClass('currentOrder')
          $('.currentOrder').append('<p class="time">'+ String(result[index].id.created_at) +'</p>')
        })//click function
      })//forEachfunction
    }//succesFunction
  });//AjaxGetMethod

  //Calculamos la orden actual
  currentOrder = $('.currentOrder .id').text();

}

//Logica para agregr comida a las ordenes
function addToOrder(){

}

//Logica para remover comida de las ordenes
function removeFromOrder(){

}
