<section class="noSession">
  <div class="title">
    <h1>Como llegaste aqui?</h1>
    <p>
      Solo sesiones oficiales
    </p>
  </div>
  <div class="info">
    Esta seccion es solo para personal autorizado, si llegaste aqui desde la aplicacion poara ordenar por favor deja informacion
    sobre el error en la seccion de "feedback".
  </div>
</section>
