<%= render 'orders/header' %>
<div class="salePoint-backend baseBox-backend">
  <!-- Zona de interaccion con la orden !-->
  <%= render 'orderDisplay' %>
  <!-- Seguimiento de ordenes y moviemiento entre categorias !-->
  <%= render 'tracker' %>
  <!-- Mostramos el menu !-->
  <%= render 'menu' %>
</div>
